 .row {
    margin: 3vw 0;
    padding: 0;
    color: white;
   
    
  }
  
  .row-header-title {
    font-size: 1.2vw;
    line-height: 1.25vw;
    font-weight: 700;
    margin: 0 4% 0.5em;
    min-width: 6em;
    vertical-align: bottom;
  }
  
  .slider {
    
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
    
    
    position: relative;
  }
  
  
  .slider__arrow-left {
    
    background-clip: content-box;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 4%;
    z-index: 100;
    position: absolute;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    
  }
  
  .slider__arrow-right {
    
    background-clip: content-box;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 4%;
    z-index: 100;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
   
  }
  
  
  
  .arrow {
    transition: 400ms all ease-in-out;
    font-size: 3em;
    font-weight: 800;
   
  }
  .arrow:hover {
    transition: 400ms all ease-in-out;
    transform: scale(1.5);
  }
  
  
  .slider__items {
    display: flex;
    scroll-behavior: smooth;
    padding:20px 0 20px 20px;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    
  }
  
  .slider__items::-webkit-scrollbar {
    display: none;
  }
  
  .row__poster {
    width: 100%;
    display: inline-block;
    padding: 0.2vw;
    border-radius: 1vw;
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
    max-height: 144px;
    object-fit: contain;
  }
  
  .row_poster-large {
    
    width: 100%;
    padding: 0.2vw;
    border-radius:1vW;
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
    max-height: 360px;
    display: inline-block;
    object-fit: contain;
  } 
  
  .row__poster:hover {
    transform: scale(1.08);
  }
  .row_poster-large:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .row__poster {
      width: 35vw !important;
      padding: 0.5rem 0.5rem 0.5rem 0;
    }
    .row-header-title {
      font-size: 16px;
    }
  }
  .slider__arrow-left:hover {
    background: rgba(53, 50, 50, 0.5);
    transition: 400ms all ease-in-out;
    visibility: visible;
  }
  .slider__arrow-right:hover {
    background: rgba(53, 50, 50, 0.5);
    transition: 400ms all ease-in-out;
    visibility: visible;
  }

.swiper-pagination {
  text-align: right !important;
}

.swiper-pagination-bullet {
  background-color:gray !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-button-prev, .swiper-button-next {
  color:white !important;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 1.5rem !important;
  font-weight: 500 !important ;
}